/* http://meyerweb.com/eric/tools/css/reset/ 
  v2.0 | 20110126
  License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:focus {
  outline: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

input {
  border: none;
}

input[type='button'] {
  padding: 0;
  cursor: pointer;
}

button {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

html, body {
  font-size: 16px;
  font-family: "Michrosoft JhenHei", sans-serif;
  color: #000000;
  background-color: #F7F7F7;
}

.wrap {
  min-width: 1024px;
}

.container {
  width: 1024px;
  position: relative;
  margin: 0 auto;
}

.page-title {
  font-size: 40px;
  text-align: center;
  letter-spacing: 3.89px;
  color: #ffffff;
}

h3 {
  font-size: 24px;
}

.header {
  position: relative;
  height: 380px;
  padding-top: 89px;
  padding-bottom: 107px;
  background-image: url(../images/banner.png);
  background-size: cover;
  background-position: center bottom;
}

.header #districtList {
  display: block;
  width: 452px;
  height: 48px;
  padding: 10px;
  margin: 96px auto 0 auto;
  font-size: 18px;
  background: rgba(255, 255, 255, 0.7);
  border: 3px solid #ffffff;
  border-radius: 3px;
}

.header #districtList:focus {
  outline: none;
}

.header .popular-area {
  width: 800px;
  height: 112px;
  position: absolute;
  bottom: -84px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  padding-top: 20px;
  padding-left: 26px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  text-align: left;
}

.header .popular-area .popular-area-title {
  font-size: 18px;
  text-align: left;
}

.header .popular-area .popular-area-list {
  margin-top: 14px;
  font-size: 0;
}

.header .popular-area .popular-area-list li {
  display: inline-block;
  width: 130px;
  height: 42px;
  margin-right: 23px;
}

.header .popular-area .popular-area-list li:first-child .popular-area-btn {
  background-color: #8A82CC;
}

.header .popular-area .popular-area-list li:nth-child(2) .popular-area-btn {
  background-color: #FFA782;
}

.header .popular-area .popular-area-list li:nth-child(3) .popular-area-btn {
  background-color: #F5D105;
}

.header .popular-area .popular-area-list li:last-child {
  margin-right: 0;
}

.header .popular-area .popular-area-list li:last-child .popular-area-btn {
  background-color: #559AC8;
}

.header .popular-area .popular-area-btn {
  width: 100%;
  height: 100%;
  font-size: 20px;
  color: #ffffff;
  border-radius: 5px;
}

.header .popular-area .popular-area-btn:hover {
  opacity: 0.8;
}

.content {
  padding-top: 135px;
  padding-bottom: 20px;
}

.content .subtitle {
  margin-top: 76px;
  font-size: 36px;
  text-align: center;
  color: #8A82CC;
}

.horizontal {
  position: relative;
  border-top: 1px dashed #559AC8;
}

.horizontal:after {
  content: '';
  position: absolute;
  top: -9px;
  left: 50%;
  width: 24px;
  height: 24px;
  background-color: #F7F7F7;
  background-image: url(../images/icons_down.png);
  background-repeat: no-repeat;
  background-position: center center;
  border: 2px solid #559AC8;
  border-radius: 50%;
}

.card-list {
  padding-right: 40px;
  padding-left: 40px;
  margin-top: 24px;
  font-size: 0;
}

.card-list > li {
  width: calc((100% - 16px) / 2);
  height: 273px;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 36px;
  font-size: 16px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
}

.card-list > li:nth-child(odd) {
  margin-right: 16px;
}

.card-list > li .card-pic {
  height: 155px;
  position: relative;
  background-size: cover;
  background-position: center;
}

.card-list > li .card-pic h3, .card-list > li .card-pic span {
  position: absolute;
  bottom: 15px;
  color: #ffffff;
}

.card-list > li .card-pic h3 {
  left: 22px;
  font-size: 24px;
}

.card-list > li .card-pic span {
  right: 24px;
}

.card-list .card-txt {
  position: relative;
  padding: 15px 22px;
}

.card-list .card-txt li {
  position: relative;
  margin-top: 15px;
  color: #000000;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left center;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  white-space: nowrap;
}

.card-list .card-txt li img {
  height: 18px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.card-list .card-txt li:first-child {
  margin-top: 0;
}

.card-list .card-txt li:last-child {
  height: 20px;
  position: absolute;
  right: 24px;
  bottom: 15px;
}

.pagination {
  text-align: center;
}

.pagination a {
  display: inline-block;
  vertical-align: middle;
  margin: 0 12px;
  font-size: 14px;
  color: #4A4A4A;
}

.pagination a:first-child {
  margin-right: 10px;
  margin-left: 0;
}

.pagination a:last-child {
  margin-left: 10px;
  margin-right: 0;
}

.pagination a.disabled {
  color: rgba(74, 74, 74, 0.5);
  cursor: default;
}

.pagination a:not(.disabled):hover {
  color: #559AC8;
}

.pagination a.active {
  color: #559AC8;
}

.footer {
  height: 90px;
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 14px;
  text-align: center;
  background-color: #559AC8;
}

.footer h4 {
  color: #ffffff;
}

.footer p {
  color: #FFD366;
  padding: 15px 5px;
}

.go-top {
  position: fixed;
  right: 28px;
  bottom: 106px;
}

.go-top a {
  width: 24px;
  height: 24px;
  display: block;
}

.go-top a img {
  display: block;
}
