@import 'mixins/reset';
@import 'mixins/reboot';
@import 'mixins/clearfix';

@import 'helpers/variables';

html, body {
  font-size: 16px;
  font-family: $font-famliy;
  color: #000000;
  background-color: $gray-color;
}

.wrap {
  min-width: 1024px;
}

.container {
  width: 1024px;
  position: relative;
  margin: 0 auto;
}

.page-title {
  font-size: 40px;
  text-align: center;
  letter-spacing: 3.89px;
  color: $white-color;
}

h3 {
  font-size: 24px;
}

.header {
  position: relative;
  height: 380px;
  padding-top: 89px;
  padding-bottom: 107px;
  background-image: url(../images/banner.png);
  background-size: cover;
  background-position: center bottom;
  #districtList {
    display: block;
    width: 452px;
    height: 48px;
    padding: 10px;
    margin: 96px auto 0 auto;
    font-size: 18px;
    background: rgba($white-color, .70);
    border: 3px solid $white-color;
    border-radius: 3px;
    &:focus {
      outline: none;
    }
  }
  .popular-area {
    width: 800px;
    height: 112px;
    position: absolute;
    bottom: -84px;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 20px;
    padding-left: 26px;
    background-color: $white-color;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .20);
    border-radius: 5px;
    text-align: left;
    .popular-area-title {
      font-size: 18px;
      text-align: left;
    }
    .popular-area-list {
      margin-top: 14px;
      font-size: 0;
      li {
        display: inline-block;
        width: 130px;
        height: 42px;
        margin-right: 23px;
        &:first-child {
          .popular-area-btn {
            background-color: $purple-color;
          }
        }
        &:nth-child(2) {
          .popular-area-btn {
            background-color: $orange-color;
          }
        }
        &:nth-child(3) {
          .popular-area-btn {
            background-color: $yellow-color;
          }
        }
        &:last-child {
          margin-right: 0;
          .popular-area-btn {
            background-color: $blue-color;
          }
        }
      }
    }
    .popular-area-btn {
      width: 100%;
      height: 100%;
      font-size: 20px;
      color: $white-color;
      border-radius: 5px;
      &:hover {
        opacity: 0.8;
      }
    }
  }
}

.content {
  padding-top: 135px;
  padding-bottom: 20px;
  .subtitle {
    margin-top: 76px;
    font-size: 36px;
    text-align: center;
    color: $purple-color;
  }
}

.horizontal {
  position: relative;
  border-top: 1px dashed $blue-color;
  &:after {
    content: '';
    position: absolute;
    top: -9px;
    left: 50%;
    width: 24px;
    height: 24px;
    background-color: $gray-color;
    background-image: url(../images/icons_down.png);
    background-repeat: no-repeat;
    background-position: center center;
    border: 2px solid $blue-color;
    border-radius: 50%;
  }
}

.card-list {
  padding-right: 40px;
  padding-left: 40px;
  margin-top: 24px;
  font-size: 0;
  > li {
    width: calc((100% - 16px) / 2);
    height: 273px;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 36px;
    font-size: 16px;
    background-color: $white-color;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .20);
    &:nth-child(odd) {
      margin-right: 16px;
    }
    .card-pic {
      height: 155px;
      position: relative;
      background-size: cover;
      background-position: center;
      h3, span {
        position: absolute;
        bottom: 15px;
        color: $white-color;
      }
      h3 {
        left: 22px;
        font-size: 24px;
      }
      span {
        right: 24px;
      }
    }
  }
  .card-txt {
    position: relative;
    padding: 15px 22px;
    li {
      position: relative;
      margin-top: 15px;
      color: #000000;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: left center;
      overflow: hidden;
      text-overflow: ellipsis; 
      white-space: nowrap;
      img {
        height: 18px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
      }
      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        height: 20px;
        position: absolute;
        right: 24px;
        bottom: 15px;
      }
    }
  }
}

.pagination {
  text-align: center;
  a {
    display: inline-block;
    vertical-align: middle;
    margin: 0 12px;
    font-size: 14px;
    color: #4A4A4A;
    &:first-child {
      margin-right: 10px;
      margin-left: 0;
    }
    &:last-child {
      margin-left: 10px;
      margin-right: 0;
    }
    &.disabled {
      color: rgba(74, 74, 74, .50);
      cursor: default;
    }
    &:not(.disabled) {
      &:hover {
        color: $blue-color;
      }
    }
    &.active {
      color: $blue-color;
    }
  }
}

.footer {
  height: 90px;
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 14px;
  text-align: center;
  background-color: $blue-color;
  h4 {
    color: $white-color;
  }
  p {
    color: #FFD366;
    padding: 15px 5px;
  }
}

.go-top{
  position: fixed;
  right: 28px;
  bottom: 106px;
  a {
    width: 24px;
    height: 24px;
    display: block;
    img {
      display: block;
    }
  }
}